<article>
    <a href="/dashboard" class="justify-content-right">&lAarr; Back to Dashboard</a>
    <h2 class="title mt-5">Edit Blog Post</h2>
    <hr>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Post Title</label>
            <input class="input" type="text" id="post-title" name="post-title" value="{{post.title}}"/>
        </div>
        <div>
            <label for="post-content">Post Content</label>
            <input class="textarea" type="text" id="post-content" name="post-content" value="{{post.text}}"/>
        </div>
        <div class="justify-content-right">
            Created by you on {{format_date post.created_at}}
            
            <a href="/post/{{post.id}}">{{post.comments.length}}</a>
        </div>

        <button type="submit" class="button btn btn-success">Save Post</button> 
        <button type="button" class="button btn btn-danger delete-post-btn">Delete Post</button>
    </form>
</article>

{{> comments post.comments}}

<script src="/public/js/editBlogPost.js"></script>
<script src="/public/js/deleteBlogPost.js"></script>
<script src="/public/js/comment.js"></script>